@import './variables.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}


p, a, li, span, input, textarea, .garet {
  font-family: $Garet;
  color: #333333;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4 {
  font-family: $ClassyVogue;
}

.arimo-bold {
  font-family: $ArimoBold;
}

.arimo {
  font-family: $Arimo;
}

.garet-heavy {
  font-family: $Garet-Heavy;
}

strong {
  color: #000000;
}

.vogue-2 {
  font-family: $ClassyVogue2;
}


.images-container img { 
  animation: carousel 15s infinite linear; 
}

.images-container img:nth-child(1) { 
  animation-delay: 0s; 
} 

.images-container img:nth-child(2) { 
  animation-delay: 5s; 
} 

.images-container img:nth-child(3) { 
  animation-delay: 10s; 
} 

@keyframes carousel { 
  0% { 
    opacity: 0; 
  } 
  10% { 
    opacity: 1; 
  } 
  33.33% { 
    opacity: 1; 
  } 
  53.33% { 
    opacity: 0; 
  } 
  100% { 
    opacity: 0; 
  } 
} 

//Testimonials

